{% extends 'registration/base.html' %}
{% block content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-centered">
        <h1 class="mt-5 mb-3" style="color : green;">Login Success!</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-centered mt-3">
        <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
        <a href="{% url 'form' %}" class="btn btn-primary" style="margin-left: 125px;" target="_blank">FillUp form</a>
        <a href="{% url 'database' %}" class="btn btn-primary" style="margin-left: 125px;" target="_blank">Show Database</a>

      </div>
    </div>
  </div>
</section>


{% endblock %}


